
.icon-lock:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */
.icon-money:before { content: '\e806'; } /* '' */
.icon-user-2:before { content: '\e809'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
