
.icon-mail:before { content: '\e800'; } /* '' */
.icon-torso:before { content: '\e801'; } /* '' */
.icon-lock-1:before { content: '\e802'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
